:root{
    --bg-color: #1f1f1f;
    --font-color: #f1f1f1;
    --shadow-color: #6ec6e0;
    --transparent-color: #0009;
    --highlight-color: #92863f;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

li {
    padding-left: 15px;
    padding-right: 15px;
}

.background {
    background: linear-gradient(rgba(0,0,0,0.2), var(--bg-color));
    width: 100%;
    height: 135vh;
    position: absolute;

}

.foreground {
    position: relative;
}

.background-image {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -99;
}

.header-logo {
    margin-right: 15vh;
    margin-left: 15vh;
    display: inline;
    width: 30vh;
}

.media-image {
    width: 30px;
}

.header-text {
    list-style-type: none;
    margin-right: 3000px;
    position: absolute;
    display: flex;
    min-width: 1rem;
    margin-top: 3rem;
    padding-top: 1rem;
}

.navigation-bar {
    margin-left: auto;
    margin-right: auto;
    padding-right: 40px;
}

.navigation-bar-image{
    width: 100vw;
    opacity: .1;
}

.navigation-bar-list{
    list-style-type: none;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;

    justify-content: center;
    color: var(--font-color);
    text-shadow:.5px .5px var(--shadow-color),
                .5px -.5px var(--shadow-color),
                -.5px .5px var(--shadow-color),
                -.5px -.5px var(--shadow-color);
    font-size: larger;
}

.navigation-item {
    padding-left: 70px;
    padding-right: 70px;
}

.gallery-section, .videos-section {
    margin-top: -50px;
    text-align: center;
    color: var(--font-color);
    text-shadow:.5px .5px var(--shadow-color),
                .5px -.5px var(--shadow-color),
                -.5px .5px var(--shadow-color),
                -.5px -.5px var(--shadow-color);
    font-size: 10vh;
}

.gallery-text, .videos-text {
    margin-bottom: 0;
    padding-bottom: 0;
}

.image-gallery {
    border: solid 1px var(--shadow-color);
    border-radius: 5px;
    max-height: 90vh;
    max-width: fit-content;
}

.gallery-unnordered-list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    justify-content: center;
    margin-right: 40px;
}

.change-button-gallery {
    border: solid .1px var(--font-color);
    border-radius: 20px;
    font-size: 10rem;
    background-color: var(--transparent-color);
    color: var(--shadow-color);
}

.change-button-gallery:hover{
    cursor: pointer;
}

/*.video-gallery {
    width: "720";
}*/

.videos-list, .main-page-list {
    justify-content: center;
    display: flex;
    list-style-type: none;
    margin-right: 30px;
}

.main-page-text {
    color: var(--font-color);
    text-shadow:.5px .5px var(--shadow-color),
    .5px -.5px var(--shadow-color),
    -.5px .5px var(--shadow-color),
    -.5px -.5px var(--shadow-color);
    font-size: 4vw;
    text-align: center;
}

.cover-art {
    width: 40vw;
}

.about-section {
    color: var(--font-color);
    text-shadow:.5px .5px var(--shadow-color),
    .5px -.5px var(--shadow-color),
    -.5px .5px var(--shadow-color),
    -.5px -.5px var(--shadow-color);
    text-align: center;
    justify-content: center;
    font-size: 1.35vw;
}

.image_sub{
    font-size: 1vw;
    font-style: italic;
    filter: brightness(.7);
}

.band-image-about{
    width: 45vw;
}

.about-text-div, .about-art-div-position {
    margin-right: 60px;
    margin-left: 60px;
}

.about-text-div-position, .about-art-div-position {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.about-text-div-paragraphs {
    border: solid .1px var(--transparent-color);
    border-radius: 3px;
    background-color: var(--transparent-color);
    text-align: justify;
    overflow: scroll;
    height: 350px;
}

.button-next-text {
    border: none;
    border-radius: 5px;
    color: var(--font-color);
    background-color: var(--bg-color);
    font-size: 3rem;
}

.button-next-text:hover {
    cursor: pointer;
    filter: brightness(1.2);   
}

.about-text-paragraph {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.highlight {
    font-weight: 700;
    text-decoration: underline;
    text-shadow:.5px .5px var(--highlight-color),
    .5px -.5px var(--highlight-color),
    -.5px .5px var(--highlight-color),
    -.5px -.5px var(--highlight-color);

}

.fade {
    animation-name: fade;
    animation-duration: .5s;
}
  
@keyframes fade {
    from {opacity: .1} 
    to {opacity: 1}
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--highlight-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active {
    background-color: var(--font-color);
}  

.about-art-div-container{
    margin-left: 5vw;
    border: solid .1px var(--transparent-color);
    border-radius: 3px;
    background-color: var(--transparent-color);
    text-align: center;
    justify-content: center;
    height: 350px;
    width: 30vw;
}

.image-art-slide-show{
    height: 350px;
    border: none;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}

.contact-section {
    margin-right: 10vw;
    margin-left: 10vw;
    padding-right: 10vw;
    padding-left: 10vw;
    margin-top: 10vh;
    color: var(--font-color);
    font-size: 2rem;
    text-shadow:.5px .5px var(--shadow-color),
    .5px -.5px var(--shadow-color),
    -.5px .5px var(--shadow-color),
    -.5px -.5px var(--shadow-color);

}

#back-button-gallery {
    position: absolute;
    display: inline-block;
    margin-right: 90vw ;
}

#next-button-gallery {
    position: absolute;
    display: inline-block;
    margin-left: 90vw ;
}
